@import 'normalize.css';

body {
  color: #eee;
  font-family: 'Roboto', sans-serif;
  height: 150vh;
  background-image: url(DSC01442.resized.phased.png);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #3a64a5;
}

header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:
    'Alice',
    cursive;
  font-weight: normal;
}

article {
  height: 100%;

  @media (width >= 768px) {
    margin: 0 auto;
    width: 720px;
  }

  @media (width >= 992px) {
    width: 960px;
  }

  @media (width >= 1200px) {
    width: 1140px;
  }

  & header {
    text-align: center;

    & h1 {
      font-size: 5rem;
    }

    & p {
      font-size: 2rem;
    }
  }
}
