@import 'normalize.css';

:root {
  --primary: #006064;
  --secondary: #757575;
  --accent: #f4511e;
  --nav-width: 8.5rem;
}

html {
  box-sizing: border-box;
  font-size: 125%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #555;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
  padding: 0;
}

a {
  &:any-link {
    color: var(--primary);
  }

  &:active,
  &:hover {
    color: var(--accent);
  }
}

li {
  margin-bottom: 1rem;
}

header,
h1,
h2,
h3,
h4,
h5,
h6,
nav {
  color: var(--primary);
  font-family:
    'Architects Daughter',
    cursive;
  font-weight: normal;
}

header {
  background-image: url('https://www.dropbox.com/s/r02te1kbxftlxoz/header.resized.jpg?dl=0&raw=1');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding: 2rem 0 1rem;
  text-align: center;
  border-bottom: solid 0.2rem var(--primary);
  height: 300px;

  @media (width >= 768px) {
    height: 450px;
  }

  @media (width >= 992px) {
    height: 450px;
  }

  @media (width >= 1200px) {
    height: 500px;
  }

  @media (width >= 1600px) {
    height: 616px;
  }

  & h1 {
    color: #fff;
    font-size: 3rem;
    margin: 0;

    @media (width >= 768px) {
      font-size: 4rem;
    }
  }

  & p {
    color: #fff;
    margin-top: 0.5em;
    font-size: 1.5rem;

    @media (width >= 768px) {
      font-size: 1.5rem;
    }
  }
}

main {
  padding: 0 1rem 2rem;

  @media (width >= 768px) {
    margin: 0 auto;
    padding: 0 0 2rem;
    width: 720px;
  }

  @media (width >= 992px) {
    width: 960px;
  }
}

nav {
  border-right: solid 0.05rem color(var(--secondary) alpha(- 50%));
  margin-top: 2rem;
  width: var(--nav-width);

  & a:any-link {
    color: var(--secondary);
    text-decoration: none;
  }

  & a:active,
  & a:hover {
    color: var(--accent);
  }

  & ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
  }

  & li {
    margin-bottom: 1rem;
  }

  @media (width >= 768px) {
    float: left;
  }
}

.content {
  @media (width >= 768px) {
    padding-left: calc(var(--nav-width) + 2rem);
  }
}

section {
  padding-top: 2rem;
}

h2 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

h3 {
  margin: 1rem 0 0.5rem;
}

.map {
  border: 0;
  height: 20rem;
  width: 100%;
}

time {
  font-weight: bold;
}

.venue-images {
  flex-wrap: wrap;
  margin: -0.5rem -0.5rem 0 0;

  @media (width >= 768px) {
    display: flex;
  }

  & figure {
    margin: 0;
    padding: 0.5rem 0.5rem 0 0;
  }

  & img {
    height: auto;
    vertical-align: top;
    width: 100%;
  }
}
