// @import "../node_modules/bootstrap/scss/bootstrap.scss";

// Core variables and mixins
@import "variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/custom";

// Reset and dependencies
@import "../node_modules/bootstrap/scss/normalize";
@import "../node_modules/bootstrap/scss/print";

// Core CSS
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/code";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";

// Components
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
// @import "../node_modules/bootstrap/scss/button-group";
// @import "../node_modules/bootstrap/scss/input-group";
// @import "../node_modules/bootstrap/scss/custom-forms";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
// @import "../node_modules/bootstrap/scss/card";
// @import "../node_modules/bootstrap/scss/breadcrumb";
// @import "../node_modules/bootstrap/scss/pagination";
// @import "../node_modules/bootstrap/scss/badge";
// @import "../node_modules/bootstrap/scss/jumbotron";
// @import "../node_modules/bootstrap/scss/alert";
// @import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/media";
// @import "../node_modules/bootstrap/scss/list-group";
// @import "../node_modules/bootstrap/scss/responsive-embed";
// @import "../node_modules/bootstrap/scss/close";

// Components w/ JavaScript
// @import "../node_modules/bootstrap/scss/modal";
// @import "../node_modules/bootstrap/scss/tooltip";
// @import "../node_modules/bootstrap/scss/popover";
// @import "../node_modules/bootstrap/scss/carousel";

// Utility classes
@import "../node_modules/bootstrap/scss/utilities";

$container-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);

html {
  @include media-breakpoint-up(md) {
    font-size: 125%;
  }
}

body {
  background-color: #fff;
  color: #444;
  position: relative;
  line-height: 1.75;
  padding: 0;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;

  @include media-breakpoint-up(sm) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.5rem;
  margin: 2rem 0 1rem;

  @include media-breakpoint-up(sm) {
    font-size: 2rem;
  }
}

li {
  margin-top: 1rem;
}

time {
  font-weight: bold;
}

.header-container {
  // background-color: #e0f7fa;
}

header {
  // box-shadow: $container-shadow;
  margin: 0 auto;
  padding: 2rem 0 1rem;
  text-align: center;

  // @media (--viewport-size-small) {
  //   background-image: url('images/header.576.jpg');
  //   height: 351px;
  //   width: var(--page-width-small);
  // }

  // @media (--viewport-size-medium) {
  //   background-image: url('images/header.768.jpg');
  //   height: 468px;
  //   width: var(--page-width-medium);
  // }

  // @media (--viewport-size-large) {
  //   background-image: url('images/header.992.jpg');
  //   height: 605px;
  //   width: var(--page-width-large);
  // }

  // @include media-breakpoint-up(xl) {
  //   background-image: url('https://www.dropbox.com/s/50opxaa8a5v1j30/header.1200.jpg?dl=0&raw=1');
  //   background-position: center center;
  //   height: 667px;
  // }
  //
  //

  background-image: url('http://res.cloudinary.com/da1qvqhjg/image/upload/v1501450914/Hayley_Arthur_EngagmentShoot-3.667_sg6lmh.jpg');
  height: 300px;
  background-position: center center;

  @include media-breakpoint-up(md) {
    background-image: url('http://res.cloudinary.com/da1qvqhjg/image/upload/v1501450504/Hayley_Arthur_EngagmentShoot-3.1920_tsjfw4.jpg');
    height: 600px;
  }

  -webkit-text-stroke: 1px rgba($black, 0.2);

  h1 {
    color: rgba($white, 0.9);
    font-size: 4rem;
    margin: 0;

    @include media-breakpoint-up(xs) {
      font-size: 4rem;
    }

    @include media-breakpoint-up(sm) {
      font-size: 6rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 8rem;
    }
  }

  p {
    color: rgba($white, 0.9);
    font-family: $headings-font-family;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1em;

    @include media-breakpoint-up(xs) {
      font-size: 2rem;
    }

    @include media-breakpoint-up(sm) {
      font-size: 3rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 4rem;
      margin-top: 2em;
    }
  }
}

section {
  background-color: #fff;
  padding: 5rem 0 0;
}

.venue-images {
  flex-wrap: wrap;
  margin: -0.5rem -0.5rem 1rem 0;

  @include media-breakpoint-up(md) {
    display: flex;
  }

  & figure {
    margin: 0;
    padding: 0.5rem 0.5rem 0 0;
  }

  & img {
    height: auto;
    vertical-align: top;
    width: 100%;
  }
}

.toc {
  padding-top: $spacer-y;
  overflow-y: auto;
  max-height: 90vh;

  .nav-link {
    font-family: 'Sue Ellen Francisco';
  }
}

.nav-pills .nav-item .active {
  color: $brand-primary;
  background-color: rgba($brand-primary, 0.1);
}

.map {
  border: 0;
  height: 20rem;
  width: 100%;
}

strong,
time {
  color: $brand-secondary;
}

a,
a:active,
a:visited {
  text-decoration: underline;
}

a:hover {
  color: $brand-secondary;
  cursor: pointer;
  text-decoration: none;
}

.timeline {
  display: table;

  .timeline-item {
    display: table-row;
  }

  .timeline-time,
  .timeline-description {
    display: table-cell;
    padding: 0.25rem 0;
  }

  .timeline-time {
    text-align: right;
    padding-right: 1rem;
  }
}

hr {
  background-color: $brand-secondary;
  border: none;
  height: 2px;
}

.interlude-image {
  border-radius: 15px;
  display: block;
  margin: 5rem auto 0;
}

.interlude-image__landscape {
  height: 400px;
  width: 600px;

  @media (max-width: 630px) {
    height: auto;
    max-width: 100%;
  }
}

.interlude-image__portrait {
  height: 750px;
  width: 500px;

  @media (max-width: 530px) {
    height: auto !important;
    max-width: 100%;
  }
}

.spotify-playlist {
  display: block;
  margin: 0 auto;
}
