@import 'normalize.css';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  display: block;
  height: 100vh;
  object-fit: cover;
  width: 100vw;
}

footer {
  bottom: 0;
  color: rgba(255, 255, 255, 0.3);
  padding: 0.2em;
  position: absolute;
  right: 0;
}
